/* GENERAL STYLES */

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: red; */
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* HEADER */

header {
  /* background-color: blue; */
  padding: 30px 0;
}

header > div {
  display: flex;
}

.header-left {
  margin-right: 30px;
}

header p {
  font-size: 20px;
  line-height: 30px;
  color: grey;
}

header img {
  border-radius: 6px;
  height: 200px;
  width: 350px;
  object-fit: cover;
}

/* MAIN */

main {
  background-color: #f2f5f5;
  padding: 30px 0;
}

img {
  height: 200px;
}

main > div {
  display: flex;
  gap: 30px;
}

.main-left {
  /* background-color: red; */
  /* height: 200px; */
  /* width: 200px; */
  flex: 1;
}

.main-right {
  background-color: blue;
  height: 200px;
  width: 350px;
}

.meals-container {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

article {
  width: 400px;
  height: 160px;
  background-color: white;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

article img {
  height: 130px;
  width: 130px;
  border-radius: 6px;
  object-fit: cover;
}

article p {
  /* background-color: green; */
  height: 33px;
  overflow: hidden;
}
